# Ignore the content folders
bin/

# Ignore meta files
*.meta

# Ignore the Urho3D symlinks
.bash_helpers.sh
CMake
CMake/
Rakefile
cmake_*.sh

# C++ Base Ignore from github:

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
